VITE_FIREBASE_API_KEY=AIzaSyDUdPwY_iFSMwCz0FTMdQoEs9ln0FLEsGU
VITE_FIREBASE_AUTH_DOMAIN=personal-hub-1605.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=personal-hub-1605
VITE_FIREBASE_STORAGE_BUCKET=personal-hub-1605.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=119702957825
VITE_FIREBASE_APP_ID=1:119702957825:web:ca36bc23984093f22bf500
VITE_FIREBASE_DATABASE_ID=(default)
